
body {
    background-image: url(../images/Enhanced.jpg);
    background-size: cover;
    overflow: hidden;
}

img {
    width: 140px;
}

.sidebar {
    height: 100%;
    width: 330px;
    position: fixed;
    background-color: #fff;
    color: #fff;
}

.sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: x-large;
    color: #000;
    display: block;
    transition: background-color 0.3s;
}

.aCont, .aSelectedCont {
    padding: 15px;
}

.aCont:hover {
    background-color: #135272;
}

.aCont:hover svg {
    fill: #fff;
}

.aCont:hover a {
    color: #fff;
}

.aSelectedCont {
    background-color: #135272;
}

.aSelectedCont a {
    color: #fff;
}


/*  */

.contentCont {
    margin-left: 330px;
    padding-top: 20px;
}

#emailAddress, #firstName, #lastName, #currPass, #newPass, #rePass {
    width: 35%;
    height: 50px;
    font-size: larger;
}

button {
    width: 200px;
}

/*  */

#categoryPlacesCont {
    margin-left: 450px;
    padding-top: 20px;
}

.addCont {
    width: 10%;
}

.textCont {
    margin-top: 120px;
    padding-bottom: 50px;
    background-color: #c6e6f0;
    height: auto;
    border-radius: 50px;
}

.categoryTable {
    font-size: xx-large;
    margin: auto;
    width: fit-content;
}

.categoryTable tr {
    height: 75px;
}

/*  */

.addCategoryCont {
    margin-top: 12.5%;
    background-color: #c6e6f0;
    height: 600px;
    border-radius: 50px;
}

.outerCont {
    margin-left: 7%;
    margin-top: 60px;
}

#inputCat {
    margin-left: 90px;
    width: 49%;
    height: 50px;
    font-size: larger;
}

#inputCategory {
    margin-left: 108px;
    width: 25%;
    height: 50px;
    font-size: larger;
}

.addBtn {
    width: 170px;
}

#actionCancelCat, #actionAddCat, #actionSaveCat {
    border-radius: 50px;
    width: 15%;
    margin-top: 70px;
}